<h1>good!</h1>

<h2>Wathca Gonna Do with That Duck?</h2>

<pre><code>heroku login
heroku open
</code></pre>

<form action="/about" method="post">
  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_FBQoOck8flFs1NiGg2JjmMOg"></script>
</form>

<p>Wonderful</p>
